/* Este es el css*/

#TITULO{
    color: brown;
    background: pink;
    border: red dotted;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#FONDO{
    margin: 3px;
    background-color: pink;
    padding: 20px 20px 20px 20px;
}

.tablas{
    border: 5px solid;
}

.encabezados{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(92, 128, 36);
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

p{
    font-family: Arial, Helvetica, sans-serif;
}